:root {
  /*-------------------- COLORS --------------------*/

  /* Backgrounds */
  --color-bg-light: #e5e7eb;
  --color-bg-dark: #1f2937;

  /* Text colors */
  --color-text-primary: #1f2937;
  --color-text-secondary: #e5e7eb;
  --color-text-inverse: #f9faf8;

  /* Accent / CTA */
  --color-accent: #3882f6;

  /* Borders */
  --color-border: #e5e7eb;
  --color-accent-border: #3882f6;

  /*-------------------- TYPOGRAPHY --------------------*/

  /* Font family */
  --font-family-base: 'Roboto', sans-serif;

  /* Font sizes */
  --font-size-xl: 3rem;
  --font-size-lg: 2.25rem;
  --font-size-md: 1.5rem;
  --font-size-sm: 1.125rem;

  /* Font weights */
  --font-weight-bold: 800;
  --font-weight-regular: 400;
  --font-weight-light: 300;

  /* Font styles */
  --font-style-normal: normal;
  --font-style-italic: italic;

  /*-------------------- OTHER --------------------*/

  /* Border Radii */
  --border-radius-btn: 0.625rem;
  --border-radius-primary: 0.2rem;
  --border-radius-card: 0.5rem;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-base);
}
