/* Global Styling */

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.section {
  padding: 2rem;
}

p {
  font-size: var(--font-size-secondary);
  font-weight: var(--font-weight-text);
  line-height: 2.2rem;
}

h2 {
  font-size: 2rem;
}

.hero-about,
.staff {
  display: flex;
  background-color: var(--color-quote-bg);
  justify-content: center;
  align-items: center;
}

.hero-about__img,
.staff__img {
  height: auto;
  max-height: 30rem;
  object-fit: cover;
  object-position: bottom;
  border-radius: var(--border-radius-primary);
  flex: 1 1 50%; /* grow, shrink, basis = 50% */
  max-width: 50%;
}

.staff__content,
.hero-about__content {
  width: 50%;
  padding: 2rem 3rem;
  flex: 1;
}

.hero-about__content > *,
.staff__content > * {
  margin-bottom: 1rem;
}

.hero-about__content > *:last-child,
.staff__content > *:last-child {
  margin-bottom: 0;
}

.container-flex-center {
  max-width: 1200px;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* hero-about Styling */

.hero-about {
  background-color: var(--color-bg-dark);
  color: var(--color-hero-text-main);
  justify-content: center;
}

.hero-about__heading {
  font-size: var(--font-size-hero-main);
}

/* Mission Styling */

.mission {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.mission__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.mission__card {
  border: 1px solid var(--color-hero-text-secondary);
  border-radius: var(--border-radius-card);
  padding: 3rem 1rem 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 25rem;
  text-align: center;
  color: var(--color-quote-text);
}

.mission__img-container {
  position: absolute;
  width: 12rem;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  border: 1px solid var(--color-hero-text-secondary);
}

.mission__card-header {
  font-size: 1.6rem;
  margin-top: 1rem;
}

.mission__img {
  height: 100%;
  max-height: 4rem;
}

/* Staff Styling */

.staff {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 3rem;
  border-radius: var(--border-radius-primary);
  padding: 0;
  background-color: var(--color-quote-bg);
  color: var(--color-quote-text);
}

/* Contact Styling */

.contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--color-cta);
  gap: 1rem;
  color: var(--color-hero-text-secondary);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1rem;
  border-radius: 0.2rem;
}

.contact__btn {
  padding: 0.5rem 2.5rem;
  width: fit-content;
  background-color: var(--color-cta);
  color: var(--color-hero-text-secondary);
  text-decoration: none;
  border-radius: var(--border-radius-btn);
  font-size: 1.1rem;
  transition: 0.3s ease;
  border: 1px solid var(--color-hero-text-secondary);
}

.contact__btn:hover {
  color: var(--color-cta);
  background-color: var(--color-hero-text-secondary);
  border-color: var(--color-cta-btn-border);
}
